.env
target
PRIVATE_KEY=4QdKD8rQwSHygqfNSNVtMqPa8x6cKFm9xmzZRmH3zvNYH2ZyP9y3VUeMAUYehixobNg1y628SMUDMdmBJz3X3MaD

RPC_HTTPS=https://mainnet.helius-rpc.com/?api-key=77371470-02e1-4834-b19a-d459383cb568
RPC_WSS=wss://mainnet.helius-rpc.com/?api-key=77371470-02e1-4834-b19a-d459383cb568

JITO_BLOCK_ENGINE_URL=https://amsterdam.mainnet.block-engine.jito.wtf
JITO_TIP_VALUE=0.004
USE_JITO=true

TOKEN_AMOUNT=0.01
SLIPPAGE=10
TP=3
SL=0.5
TIME_EXCEED=60

UNIT_PRICE=100000
UNIT_LIMIT=300000
